<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="input-group mb-3">
<form action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input class="btn btn-outline-primary" type="submit" value="Ask!">
</form>
</div>
